<div class="stickyHeader">
    <header>
      <div class="header-banner">
  
      </div>
      <nav>
        <!-- <div class="site-title">
          <div class="logo">
            <img class="logo_img" src="/assets/img/app_logo.png" />
          </div>
        </div> -->
        <ul class="row navOpertions">
          <li class="col-md-2"><a [routerLink]="['/']">Home</a></li>
          <li class="col-md-2" dropdown><a class="dropdown-toggle" data-toggle="dropdown">Services</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" >Empty Tab</a>
              <a class="dropdown-item" >Empty Tab</a>
              <a class="dropdown-item" >Empty Tab</a>
            </div>
          </li>
          <li class="col-md-2"><a href="/contact">Our Fleet </a></li>
          <li class="col-md-2" dropdown><a class="dropdown-toggle" data-toggle="dropdown">Careers</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Driver Qualifications</a>
              <a class="dropdown-item" href="#">Non-Driver Jobs</a>
              <a class="dropdown-item" href="#">Non-CDL Driving</a>
              <a class="dropdown-item" href="#">Owner Operators</a>
              <a class="dropdown-item" href="#">Company Driver</a>
            </div>
          </li>
        
          <li class="col-md-2"><a href="/contact">Empaty Tab</a></li>
          <li class="col-md-2"><a [routerLink]="['/contactus']">Contact</a></li>
        </ul>
      </nav>
    </header>
  </div>