<div class="stickyHeader">
  <header>
    <div class="header-banner">

    </div>
    <nav>
      <!-- <div class="site-title">
        <div class="logo">
          <img class="logo_img" src="/assets/img/app_logo.png" />
        </div>
      </div> -->
      <ul class="row navOpertions">
        <li class="col-md-2"><a [routerLink]="['/']">Home</a></li>
        <li class="col-md-2" dropdown><a class="dropdown-toggle" data-toggle="dropdown">Services</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Empty Tab</a>
            <a class="dropdown-item" >Empty Tab</a>
            <a class="dropdown-item" >Empty Tab</a>
          </div>
        </li>
        <li class="col-md-2"><a href="/contact">Our Fleet </a></li>
        <li class="col-md-2" dropdown><a class="dropdown-toggle" data-toggle="dropdown">Careers</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Driver Qualifications</a>
            <a class="dropdown-item" href="#">Non-Driver Jobs</a>
            <a class="dropdown-item" href="#">Non-CDL Driving</a>
            <a class="dropdown-item" href="#">Owner Operators</a>
            <a class="dropdown-item" href="#">Company Driver</a>
          </div>
        </li>
      
        <li class="col-md-2"><a href="/contact">Empaty Tab</a></li>
        <li class="col-md-2"><a [routerLink]="['/contactus']">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7">
          <div class="card shadow border-0" style="height: 330px;">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card shadow border-0 card2" style="height: 150px;">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="card2-header">Track My Shippment</h3>
              <p Class="card2-p">Enter your shipping pro number</p>
            </div>
          </div>
          <div class="row">
            <div class="card2-row2 col-lg-8">
              <div class="input-group input-group-alternative">
                <input class="form-control"  name="email" type="text" />
              </div>
            </div>
            <div class="card2-row2 col-lg-4">
              <div class="text-center">
                <input type="submit" class="card2-button"  value="Track" />
              </div>
            </div>
          </div>
          </div>
          <div class="card shadow border-0 card3" style="height: 150px;">
            <div class="row">
            <div class="card shadow col-lg-3 card3-image">
            </div>
            <div class="card3-quote">
            <h4>Become A Freight Agent</h4>
            <p>Let us take care of the headaches <br>with access to our trucks to move <br> your freight</p>
          </div>
          </div>
          </div>
        </div>
      </div>

  <div class="col-lg-12 offer">
        <!-- <div class="offer-para">
          <h3> WHAT WE OFFER</h3>
          <P><b> Diveise, Dependable Transportation</b></P>
        </div> -->
        <hr style="background-color: #9a0015 ;margin-top: 36px;height: 2px;">
      <!-- <div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card shadow offer-card1">
              <div class="card shadow col-lg-10 offer-image">
              </div>
              <div> 
                <h4>Dry Van</h4>
                <a class="nav-link">
                <span>Learn More</span>
                <i class="material-icons">send</i>
              </a>
            </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card shadow offer-card2">
              <div class="card shadow col-lg-10 offer-image">
              </div>
              <div> 
                <h4>Flatbed</h4>
                <a class="nav-link">
                <span>Learn More</span>
                <i class="material-icons">send</i>
              </a>
            </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card shadow  offer-card3">
              <div class="card shadow col-lg-10 offer-image">
              </div>
              <div> 
                <h4>Power Only</h4>
                <a class="nav-link">
                <span>Learn More</span>
                <i class="material-icons">send</i>
              </a>
            </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card shadow offer-card4">
              <div class="card shadow col-lg-10 offer-image">
              </div>
              <div> 
                <h4>Escort</h4>
                <a class="nav-link">
                <span>Learn More</span>
                <i class="material-icons">send</i>
              </a>
            </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="cardimage">
        <img src="../../../assets/img/286X180.png">
        <div class="containerdev">
          <h3 style="color: black;"><b>Card title</b></h3> 
          <p style="color: black;">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
          <button class="button button2">button</button>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="../../../assets//img/286X180.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title" style="color: black;">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary stretched-link">button</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="../../../assets//img/286X180.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title" style="color: black;">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">button</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="i../../../assets//img/286X180.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title" style="color: black;">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">button</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="i../../../assets//img/286X180.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title" style="color: black;">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-12">
              <div class="card shadow border-0 quote-card" style="height: 150px;">
                <div class="row">
                  <div class="col-md-6 quote-card-para">
                <h3> REQUEST A FREE FREIGHT QUOTE</h3>
                <P>We are your caring logistics team dedicated to on time secure freight <br>departures & arrivals. All quotes will be responded to within 10 minutes</P>
              </div>
              <div class="col-md-4">
               <input type="button" class="quote-card-btn" value="REQUEST QUOTE">
              </div>
          </div>
        </div>
        </div>
      </div>
      </div>
        </div>
  </section>
