a{
    cursor:pointer!important;
  }
  #profileDropdown span {
    padding: 5px;
  }
  
  // img.logo {
  //   height: 98px;
  //   width: 100px;
  // }
  
  .navbar .collapse .navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 11px 20px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 20px;
    margin-left: 5px;
    color: inherit;
}
.logo_img{
  height: 50px;
  width: 200px;
  margin-left: -13px;
 // margin: 0px 10px 0px 22px;
}
